.alternatives{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $color-gray-light;
    padding: 60px 0;
}

.alternative-box{
    flex: 1;
    opacity: 2;
    height: 400px;
    text-align: center;
    max-width: 300px;
    padding: 2.5rem;
    margin-top: 30px;
    border-radius: 3px;
    transition: all .6s;

    &:hover{
        transform: translateY(-0.3rem) scale(1.01)
    }
}

.icon{
    max-height: 80px;
    opacity: .8;
}
