.our-work-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
};

.img-container{
    overflow: hidden;
    flex: 1;
    margin: 16px;
    border-radius: 2px;
    min-width: 340px;
    max-width: 340px;
}

.gallery-img{
    transition: all 1s;
    object-fit: cover;
    width: 340px;
    height: 340px;
    &:hover{
        transform: translateY(-0.5rem) scale(1.04);
    }
}

.inline-photo {
    transition: transform 1s .25s,
  }

  .inline-photo.is-visible {
    transform: translateY(3em);
  }
