.our-work-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
};

.heading-tertiary{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 3rem;
    color: $color-gray;
    padding: 40px;
    &-main{
        &:before{
            content: "";
            width: 80px;
            height: 1px;
            background-color: $color-green-warm;
            left: 50%;
            bottom: 10px;
            position: relative;
            display: block;
            border-radius: 10px;
            transform: translateX(-50%);
        }
    } 
}

.gallery-img{
    flex: 1;
    width: 260px;
    height: 260px;
    margin: 16px;
    object-fit: cover;
    border-radius: 2px;
    transition: all .6s;

    &:hover{
        transform: translateY(-0.5rem) scale(1.02);
        opacity: .8;
    }
}
