.footer-container{
    padding: 10px 50px;
    text-align: center;
}

.info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &-about{
        flex: 1
    }

    &-help{
        flex: 1
    }

    &-contact{
        flex: 1
    }

    &-social_media{
        flex: 1
    }
}

