.footer-container{
    padding: 10px 20px;
    text-align: center;
}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.6rem;
    text-align: left;

    &-header{
        margin: 10px 0
    }

    &-about{
        flex: 1;
        line-height: 30px;
    }

    &-help{
        flex: 1;

        &-list{
            list-style-type: none;
        }
    }

    &-contact{
        flex: 1;
        line-height: 30px;
    }

    &-social_media{
        flex: 1;

        &-icon{
            height: 25px;
            margin: 6px
        }
    }
}

