.newsletter{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: $color-gray-light;
    padding: 100px 50px
}

.newsletter-info{
    margin-top: 20px;

    @include respond(phone){
        text-align: center;
    }

    font-size: 1.6rem;
    // margin: 20px;
    &-header{

    }
    &-description{
        font-weight: 300
    }
}

.newsletter-form{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;

    @include respond(phone){
        justify-content: center;
    }

    &-input{
        outline: none;
        background-color: #fff;
        border: 1px solid transparent;
        height: 50px;
        width: 300px;
        padding: 10px;
        color: $color-gray;
    }
    &-btn{
        border: none;
        height: 50px;
        width: 120px;
        background-color: $color-green-warm;
        opacity: .9;
        color: $color-white;
        border-radius: 2px;

        @include respond(phone){
            margin-top: 20px
        }
    }
}

.btn-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 120px;
    text-align: center;
}

$base: 0.6rem;

.chevron-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chevron {
    position: absolute;
    width: $base * 3.5;
    height: $base * 0.8;
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #2c3e50;
}

.chevron:before {
    left: 0;
    transform: skewY(-30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(30deg);
}

@keyframes move-chevron {
 25% {
    opacity: 1;
	}
 33.3% {
    opacity: 1;
    transform: translateY($base * -3.8);
 }
 66.6% {
    opacity: 1;
    transform: translateY($base * -5.2);
 }
 100% {
    opacity: 0;
    transform: translateY($base * -8) scale(0.5);
 }
}
