.u-padding-large{
padding: 60px 0;
}

.u-margin-medium{
    margin: 60px;

    @include respond(phone){
            margin: 20px;
    }
}

.u-margin-bottom-large{
    margin-bottom: 80px;
}

.u-margin-top-small{
    margin-top: 12px
}

.u-text-center{
    text-align: center;
}
