*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  color: #383838;
  padding: 30px; }

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px; }
  .heading-primary-main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 15px;
    animation-name: moveInRight;
    animation-duration: 1s; }

.heading-secondary {
  text-align: left;
  font-family: 'Montserrat', sans-serif; }
  .heading-secondary-main {
    display: block;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(to right, #496e63, #41a64d);
    -webkit-background-clip: text;
    color: transparent; }
  .heading-secondary-sub {
    display: block;
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: 300;
    text-align: left; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.u-margin-bottom-4 {
  margin-bottom: 20px; }

.u-margin-top-small {
  margin-top: 12px; }

.u-text-center {
  text-align: center; }

.section-about {
  display: flex;
  background-color: #f8f8f8;
  padding: 30rem 25rem;
  margin-top: -25vh;
  margin-bottom: -25vh; }

.image-box-energy {
  max-height: 300px;
  opacity: .8; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  border-radius: 100px;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); }

.btn-white {
  color: #383838;
  background-color: #ffffff; }
  .btn-white::after {
    background-color: #ffffff; }

.btn::after {
  position: absolute;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #41a64d;
  font-size: 1.6rem;
  padding: 8px;
  border-radius: 10px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #41a64d;
  color: #ffffff;
  box-shadow: 0 5px 5px rgba(158, 158, 158, 0.4);
  opacity: .7;
  transform: translateX(5px); }

.btn-text:active {
  box-shadow: 0 8px 8px rgba(158, 158, 158, 0.4); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(11, 52, 84, 0.8), rgba(234, 212, 157, 0.5)), url(../img/photo-header.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
  position: relative; }
  .header-text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px; }
  .logo-box-image {
    height: 35px; }

.alternatives {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  height: 80vh;
  background-color: #ffffff;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 15vh, 100% 100%, 0 85vh);
  position: relative;
  margin-bottom: 80px; }

.alternative-box {
  flex: 1;
  opacity: 2;
  height: 400px;
  text-align: center;
  max-width: 300px;
  padding: 2.5rem;
  border-radius: 3px;
  transition: all .6s; }
  .alternative-box:hover {
    transform: translateY(-0.5rem) scale(1.02); }

.icon {
  max-height: 80px;
  opacity: .8; }

.our-work-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto; }

.heading-tertiary {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3rem;
  color: #383838;
  padding: 40px; }
  .heading-tertiary-main:before {
    content: "";
    width: 80px;
    height: 1px;
    background-color: #41a64d;
    left: 50%;
    bottom: 10px;
    position: relative;
    display: block;
    border-radius: 10px;
    transform: translateX(-50%); }

.img-container {
  overflow: hidden;
  flex: 1;
  margin: 16px;
  border-radius: 2px;
  min-width: 340px;
  max-width: 340px; }

.gallery-img {
  transition: all 1s;
  object-fit: cover;
  width: 340px;
  height: 340px; }
  .gallery-img:hover {
    transform: translateY(-0.5rem) scale(1.04); }
