.section-about{
    display: flex;
    background-color: $color-gray-light;
    padding: 30rem 25rem;
    margin-top: -25vh
}

.image-box{
    &-energy{
        max-height: 300px;
        opacity: .8;
    }
}


