.section-about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 60px;
    transition: transform .6s .1s,
}

.section-about.is-visible {
    transform: translateY(-4em);
  }

.image-box{
    flex: 1;
    max-width: 160px;
    margin: 0px 60px;
    &-energy{
        max-height: 160px;
        opacity: .8;
    }
}


