.btn{
    &:link,
    &:visited{
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        padding: 15px 40px;
        border-radius: 100px;
        transition: all .2s;
        position: relative;
    }
    &:hover{
        transform:translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-black, .2);
        
    &::after{
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
    }
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 5px 20px rgba($color-black, .2);
    }
    &-white{
        color: $color-gray;
        background-color: $color-white;

        &::after{
            background-color: $color-white; 
        }
    }
    &::after{
        position: absolute;
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &-animated{
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
     }
}

.btn-text{
    &:link, 
    &:visited{
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-green-warm;
        font-size: $default-font-size;
        padding: 8px;
        border-radius: 10px;
        transition: all .2s
    }

    &:hover{
        background-color: $color-green-warm;
        color: $color-white;
        box-shadow: 0 5px 5px rgba(158, 158, 158, .4);
        opacity: .7;
        transform: translateX(5px)
    }

    &:active{
        box-shadow: 0 8px 8px rgba(158, 158, 158, .4);
    }
}
